@font-face {
    font-family: 'Prompt Regular';
    src: url('fonts/Prompt-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'JetBrains Mono Regular';
    src: url('fonts/JetBrainsMono-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

:root {
    --light-blue-color: #E5E9F3;
    --dark-blue-color: #344960;
    --orange-color: #E97E22;
    --violet-color: #6180C0; 
}

html {
    font-size: 18px;
    font-family: 'Prompt Regular', 'Arial', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--light-blue-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    margin: 0.7rem 0;
}

h2, h3, h4, div, pre {
    width: fit-content;
}

h2, .underlined {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--orange-color);
}

.light-text {
    color: var(--light-blue-color);
}

.dark-text {
    color: var(--dark-blue-color);
}

.violet-text {
    color: var(--violet-color);
}

.round {
    border-radius: 50%;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 9fr 3fr;
    margin: 0.8rem 1rem 0 1.5rem;
    position: relative;
}

header > div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
}

#header-vert-line {
    position: absolute;
    bottom: 0;
    height: 50%;
    vertical-align: bottom;
    border-left: 4px solid var(--violet-color);
}

/* Logo */
#my-photo {
    width: 150px;
    height: 150px;
    margin: 10px 20px;
    position: absolute;
}

#my-photo-container > svg > circle {
    fill: var(--violet-color);
}

/* Name block */
#name-block {
    box-shadow: inset 0 -4px 0 0 var(--orange-color);
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0;
    width: 100%;
}

#name-block-headers > h1 {
    margin-left: -55px;
    margin-bottom: 0.3rem;
}

#name-block-headers > h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    margin-left: 3rem;
}

#name-block > svg {
    margin-left: -55px;
}

#name-block > svg > circle {
    fill: var(--orange-color);
}

/* Contacts */
aside {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100%;
    overflow: visible;
}

aside > hr {
    position: relative;
    margin-left: -3rem;
    border: none;
    width: 120%;
    height: 4px;
    background-color: var(--orange-color);
}

aside > a {
    margin: 0.5rem;
}

aside > a > img {
    width: 3rem;
    height: 3rem;
}


/* Skills and Code */
#skills-and-code {
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 7fr 5fr;
}

/* Skills */
#skills {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--dark-blue-color);
    border-left: 4px solid var(--violet-color);
}

#skills > h2 {
    margin-left: 3rem;
}

#skills > ul {
    padding-left: 0;
    padding-right: 1rem;
    margin-left: -14px;
    margin-top: 0;
}

#skills > ul > li {
    display: flex;
}

#skills > ul > li:before {
    content: url('images/orange_marker.svg');
    margin: auto 1rem auto 0;
    width: 24px;
    height: 24px; 
}

/* Code */
#code-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    font-family: 'JetBrains Mono Regular', monospace;
}

#code-block > code > pre {
    background-color: var(--dark-blue-color);
    font-size: small;
    text-align: left;
    padding: 1rem;
    margin: 0;
}

#code-block > svg {
    position: absolute;
    right: -100px;
    bottom: -10px;
    z-index: -1;
    margin-bottom: 1rem;
}

#code-block > svg > circle {
    fill: var(--orange-color);
}

/* Experience */
#experience {
    background-color: var(--dark-blue-color);
    color: var(--light-blue-color);
    overflow: hidden;
    position: relative;
    padding-left: 1.5rem;
}

#experience-header {
    display: inline-flex;
    align-items: center;
    justify-items: flex-start;
    margin-left: -16px;
}

#experience-header > h2 {
    margin-left: 2rem;
}

#experience-header > svg > circle {
    fill: var(--violet-color);
}

#experience-vert-line {
    height: 90%;
    vertical-align: top;
    border-left: 4px solid var(--violet-color);
    position: absolute;
}

#experience > ul {
    list-style: none;
    padding-left: 0;
    margin-left: -10px;
}

#experience > ul > li {
    display: flex;
    align-items: center;
}

#experience > ul > li:before {
    content: url('images/violet_marker.svg');
    margin: auto 1rem auto 0;
    width: 24px;
    height: 24px;
}

/* Memes */
#memes {
    background-color: var(--dark-blue-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1rem;
    column-gap: 0.5rem;
}

#memes > h3 {
    margin: 0 auto;
    grid-column: 1 / -1;
}

/* Doge */
#doge {
    background-color: var(--light-blue-color);
    grid-column: 6 / 9;
    color: var(--dark-blue-color);
    margin-bottom: 1rem;
}

#doge > pre {
    margin: 0;
}

/* Blockquote */
#blockquote-block {
    grid-column: 2 / 6;
    height: fit-content;
    margin: auto 0;
    padding-bottom: 5rem;
}

#blockquote-block > blockquote {
    background-color: var(--light-blue-color);
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    margin: 0 auto;
}

#blockquote-block > blockquote > p {
    text-align: right;
    margin: 0;
}

#blockquote-block > svg {
    float: right;
    fill: var(--light-blue-color);
}
